<div *ngIf="this.pokemonDetails" class="content">
  <div class="name">#{{pokemonDetails.id}} - {{ pokemonDetails.name | capitalize }}</div>

  <img alt="" class="sprite" [attr.src]="pokemonDetails.sprite">

  <div class="info">
    <div class="types">
      <div
        class="type type-{{ type }}"
        *ngFor="let type of pokemonDetails.types">
        {{ type }}
      </div>
    </div>

    <div class="stats">
      <div class="stat">
        <div class="stat-label">
          Height
        </div>
        <div class="stat-value">
          {{ pokemonDetails.height / 10 }}m
        </div>
      </div>
      <div class="stat">
        <div class="stat-label">
          Weight
        </div>
        <div class="stat-value">
          {{ pokemonDetails.weight / 10 }}kg
        </div>
      </div>
    </div>

    <div class="description">
      {{ pokemonDetails.description }}
    </div>
  </div>
</div>

