.sprite {
  width: 192px;
  height: 192px;
  display: block;
  border: 1px solid black;
  border-radius: 1px;
  image-rendering: pixelated;
  animation: 0.5s ease-in 0.4s jump;
  margin: 0 auto -10px;
}

.name {
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  margin-top: 20px;
}

.progress {
  display: block;
  margin: 100px auto;
  width: 42px;
}

/*.info {
  animation: 0.3s ease-in 0s fade;
}*/

.caught {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12px;

  &-label {
    font-weight: bold;
    text-transform: uppercase;
  }

  &-checkbox {
    margin-top: -2px;
    margin-left: 10px;
  }
}

.types {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 26px;
  font-size: 12px;
  padding: 0 16px;
  text-align: initial;
  border-radius: 1px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #68a090;
  margin: 0 6px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.type-normal {
  background-color: #a8a878;
}

.type-fire {
  background-color: #f08030;
}

.type-fighting {
  background-color: #c03028;
}

.type-water {
  background-color: #6890f0;
}

.type-flying {
  background-color: #a890f0;
}

.type-grass {
  background-color: #78c850;
}

.type-poison {
  background-color: #a040a0;
}

.type-electric {
  background-color: #f8d030;
}

.type-ground {
  background-color: #e0c068;
}

.type-psychic {
  background-color: #f85888;
}

.type-rock {
  background-color: #b8a038;
}

.type-ice {
  background-color: #98d8d8;
}

.type-bug {
  background-color: #a8b820;
}

.type-dragon {
  background-color: #7038f8;
}

.type-ghost {
  background-color: #705898;
}

.type-dark {
  background-color: #705848;
}

.type-steel {
  background-color: #b8b8d0;
}

.type-fairy {
  background-color: #ee99ac;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stat {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 30px;
}

.stat-label {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 8px 0;
}

.stat-value {
  font-size: 16px;
}

.description {
  margin: 0 10px;
  padding: 14px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 20px;
  background-color: #fff;
}

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0, -6px, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  75% {
    transform: translate3d(0, -6px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
