<label>
  id : <input [(ngModel)]="id"><br/>
</label>
<label>
  name : <input [(ngModel)]="filter"><br/>
</label>
<label>
  <select [(ngModel)]="pokemonSelected">
    <option *ngFor="let pokemon of listPokemon | filterPokemonPipe:'name':filter" [ngValue]="pokemon">
      {{pokemon.name}}
    </option>
  </select>
</label>
<button (click)="choosePokemon()">Go!</button>
<app-info-pokemon *ngIf="idPokemon" [id]="idPokemon"></app-info-pokemon>
