.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #297ab6;
    padding: 1px 0 1px 10px;
    text-align: left;
    color: white;
}

.App-link {
    color: #09d3ac;
}

.mainStructure {
    background-color: white;
    color: black;
}

.filter {
    background-color: #297ab6;
    padding: 0 0 10px 10px;
    text-align: left;
    font-size: .75em;
    color: white;
}

select {
    width: 100px;
    margin-left: 10px;
    background-color: white;
    border: 0 solid;
    color: gray;
    height: 20px;

}

.costTable {
    align: center;
    table-layout: fixed;
    width: 95%;
    margin: 10px;
}

.costElementTitle {
    padding: 8px;
    text-align: left;
    color: #297ab6;
}

.costElementPaidBy {
    padding: 10px;
    text-align: center;
    color: gray;
}

.costElementPrice {
    padding: 8px;
    text-align: right;
    color: #297ab6;
}

.paidByText {
    display: inline;
    font-size: 8px;
}

.Footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
}

.AddCost {
    width: 30px;
}

.AddExpense {
    background-color: lightgray;
}

.inputAdd {
    width: 35%;
    border-radius: 2%;
}

.inputAddPrice {
    width: 40px;
    border-radius: 10%;
}

td {
    border-bottom: 1px solid #E0E0E0;
}

th {
    border-bottom: 1px solid #E0E0E0;
}

.buttonAdd {
    background-color: #297ab6;
    width: 22px;
    height: 22px;
    border: 0 solid;
    color: white;
    border-radius: 10%;
    font-weight: bold;
}

::placeholder {
    color: #696972;
    font-size: 1em;
}

input {
    background-color: white;
    border: 0 solid;
    margin: 5px;
    color: black;
    height: 20px;
}


.TotalExpense {
    width: 100%;
    background-color: #16202C;
    margin: 0;
}

.totalText {
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
    margin: 0 1px 2px 0;
    color: darkgray;
    font-weight: bold;
    font-size: 12px;
}

.totalValue {
    text-align: right;
    padding-right: 5px;
    padding-bottom: 3px;
    margin: 2px 1px 0 0;
    color: white;
    font-weight: bold;
}
